<h2 class="bg-danger p-1 text-center">TODO LISTS</h2>
<div class="row mb-4">
    <div class="col-md-6 mb-4">
         <app-todo-form
         (emitNewTodo)="getNewTodo($event)"
          [getEditTodo]="editTodo" 
          (emitupdatedTodo)="getUpdatedTodo($event)"></app-todo-form>
         
    </div>
    <div class="col-md-6">
        <app-todo-list  [todoObj]="todoArr"
        (emitTodoRemove)="getRemoveId($event)"
        (emitTodoEdit)="getEditTodo($event)">

        </app-todo-list>
    </div>

</div>
