<div class="card ">
    <div class="card-body">
        <form #postForm="ngForm" (ngsubmit)="onAdd()">
           <div class="form-group">
            <label for="title">Title</label>
            <input 
            required
            ngModel
            name="title"
            #title="ngModel"
            type="text" class="form-control"
            class="form-control">  
            <strong class="text-danger" *ngIf="title.touched && title.hasError('required')">
                Title is a required field
            </strong>

            <button *ngIf="!isInEditMode" mat-raised-button color="primary"
            class="btn-block">
                Add Post
            </button>
           
            <button *ngIf="isInEditMode"
            (click)="onUpdate()"
            mat-raised-button color="primary"type="button"
            class="btn-block">
             Update Post
            </button>
           
           </div>
           
        </form>
    </div>
</div>
