
<div class="card">
    <div class="card-body">
        <form #todoFom="ngForm" (ngSubmit)="onTodoAdd()">
           <div class="form-group">
             <label for="todoItem">TodoItem*</label>
             <input 
             required
             ngModel
             name="todoItem"
             #todoItem="ngModel"
             type="text" class="form-control">
             <strong 
             class="text-danger"
             *ngIf="todoItem.touched && todoItem.hasError('required')">
                Todo Item is a required field
             </strong>
            </div>
            <button 
            class="btn-block"
            *ngIf="!isInEditMode"
             mat-raised-button color="primary">Add Todo</button>
            <button
            (click)="onTodoUpdate()"
            class="btn-block"
             *ngIf="isInEditMode"
              mat-raised-button color="primary" type="button">Update Todo</button>
        </form>
    </div>
</div>
